
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-image: url(https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg);
} */

body{
  width: 100%;
  background-color: #12191e;
  /* overflow-y:hidden; */
}
#root{
  width: 100%;
  /* overflow: hidden; */
}

.grid-container {
  display: grid;
  grid-template-rows: auto 2fr; 
  grid-template-columns: 1fr 2fr; 
  height: 100vh;
  
}

.navbar {
  grid-row: 1; 
  grid-column: 1 / -1;
  background-color: rgb(29, 30, 31) ; 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.chat-section {
  grid-row: 2; 
  grid-column: 1; 
  display: grid;
  grid-template-columns: 1fr 2fr; 
 
}

.chats-section {
  grid-column: 1; 
}

.chat-box {
  grid-column: 2; 
}

.input-container {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 8px;
  color: white; 
  cursor: pointer;
}

.search-input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px; /* Adjust the width as needed */
  background:transparent
}

.search-input:focus{
  border: none;
}


/* drop down menu for logout and profile on nav bar */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0; /* Align dropdown to the right */
  top:60px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lightgray;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}


/* modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  overflow-y: auto;
  z-index: 100;
}

.group-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  height: 500px;
  overflow-y: auto;
  z-index: 100;
  scrollbar-width: none;
}

/* scroll bar */
.chats-section-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 60px); 
  scrollbar-width: none;
}

.chatlist-overflow{
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Subtract the height of navbar */
  scrollbar-width:none;
}


/* messages */

.messages {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 196px); 
  overflow-y: auto; /* Enable scrolling when content exceeds the maximum height */
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.messages {
  scrollbar-width: none; /* Firefox */
}


/* Ensure you have these classes in your Tailwind CSS file */
